<div class="p-4">
    <h4 class="font-italic">Categories</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">Health</a></li>
      <li><a href="#">Food</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Lifestyle</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">Politics</a></li>
      <li><a href="#">Environment</a></li>
      <li><a href="#">Movies</a></li>
      <li><a href="#">Music</a></li>
      <li><a href="#">Finance</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Arts</a></li>
    </ol>
  </div>