<!--<span>Welcome to class {{ title }}</span>-->
<h1>Welcome to class {{ title }}</h1>

<h2>Students Lists!</h2>

<div *ngFor="let student of mystudents">
  <h3>{{student.id}}</h3>

  <h3> 
    <a [title]="student.intro + ' click here for more info' ">{{student.name}}</a>
  </h3>
  
  <p>{{student.intro}}</p>

  <!-- If the student object is available, 
    then it displays the property based on the condition-->
  <!-- <p *ngIf="student.subject">
    Student Subject: {{student.subject}}</p> -->

<!-- Event-->
  <button type="button" (click)="myIntro()">Click Me!</button>

  <p>{{student.marks}}</p>

  <app-student-alerts [student]="student"></app-student-alerts>
</div>
<!-- 
<div *ngFor="let resultstudent of resultstudent">
  <p>{{calculateGrade()}}</p>
</div> -->
